* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: #32afb2;
}

ol,
ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: rgba(255, 255, 255, 255);
  height: 100vh;
  width: 70%;
  margin: 0 auto;
}

.left-side {
  background-color: #eff9f9;
}

.right-side {
  margin: 21px;
}

figure {
  text-align: center;
}

.avatar {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 30px;
}

hr {
  border-bottom: 2px solid#526474;
  margin: 20px;
}

.header {
  font-size: 20px;
  text-align: center;
  color: #3b424d;
}

.sub-title {
  font-weight: bold;
  font-size: 12px;
}

.list-container {
  margin: 16px;
}

.link {
  color: #7c92aa;
  font-weight: normal;
  font-size: 10px;
  font-family: Times, Times New Roman, Georgia, serif;
}

.list {
  padding-bottom: 10px;
}

.skill-container {
  margin: 12px 24px;
  font-size: 14px;
  font-weight: 300;
}

.skill-list {
  list-style-type: disc;
  color: #7c92aa;
}

.main-title {
  font-size: 42px;
  font-weight: normal;
  margin-top: 20px;
}

.secondary-title {
  font-size: 24px;
}

.right-header {
  font-size: 20px;
  color: #3b424d;
}

.paragraph {
  color: #7c92aa;
}

article {
  margin-top: 10px;
}

.job-title {
  padding: 10px 0;
  font-size: 17px;
  font-weight: bold;
}

div > p {
  color: #3b424d;
  padding-bottom: 20px;
}

.example-wrapper {
  background-color: #eff9f9;
  margin-top: 30px;
  padding: 16px;
  text-align: center;
}
